.env
node_modules/

data/google-drive/
data/browser-profile/
data/browser-profile-recovery/
data/downloads-temp/
data/drive-temp/
data/tmp/

data/raw/
data/staging/
data/processed/
data/export/
data/excel-generado/

*.log

data/database/*.db
data/database/*.db-shm
data/database/*.db-wal